
.update_info_form_title{
    text-align: center;
    color: white;
}

.update_info_form_input{
    text-align: center;
}

.update_info_form_input input{
    border-radius: 10px;
    border: none;
    width: 70%;
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
}

.update_info_form_input_btn{
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
    
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.btn_update{
    background-color: #a0967b;
    transition: background-color 0.3s ease-in;
}

.btn_reset{
    background-color: #97b878;
    transition: background-color 0.3s ease-in;
}

.btn_cancel{
    background-color: #b38165;
    transition: background-color 0.3s ease-in;
}

.update_info_form_icon{
    font-size: 32px;
    margin-right: 5px;
}

.update_info_form{
    display: block;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 7px;
    height: 100%;
    color: white;
    text-align: center;
}