<div class="order_details_wrapper" *ngIf="!isLoading && !unexpectedError">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="order_card">
                <div class="order_card_content">
                    <ul>
                        <li>
                            City - {{order.city}}
                        </li>
                        <li>
                            Estimated price limit - {{order.estimatedPriceLimit}}
                        </li>
                        <li>
                            Estimated rooms quantity - {{order.estimatedRoomsQuantity}}
                        </li>
                        <li>
                            Order creation date - {{order.creationDate | makeDateString}}
                        </li>
                        <li>
                            Order last update - {{order.lastlyUpdatedDate | makeDateString}}
                        </li>
                    </ul>
                    <div *ngIf="order.apartments && order.apartments.length > 0">
                        <hr>
                        <ul class="list-group" style="color:black">
                            <li class="list-group-item" *ngFor="let apartment of order.apartments">
                                <h5>Apartment: {{apartment.number}}</h5>
                                <p>Price: {{apartment.price}}</p>
                                <p>City: {{apartment.city}}</p>
                                <p>Rooms: {{apartment.rooms}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="order_card_footer">
                    <button class="btn btn-success" (click)="addApartments()">Update apartments</button>
                    <button class="btn btn-danger" (click)="deleteOrder()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent"></app-error-modal>
<app-loading-state *ngIf="isLoading"></app-loading-state>
<app-error *ngIf="unexpectedError" [error]="unexpectedError"></app-error>
