<div *ngIf="!isLoading && !unexpectedError">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card border-dark mb-4">
                <div class="card-header">
                    <h4>Order {{order.creationDate | makeDateString}}</h4>
                    <hr>
                    <label>Updated: {{order.lastlyUpdatedDate | makeDateTimeString}}</label>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">City - {{order.city}}</li>
                        <li class="list-group-item">Estimated maximum price - {{order.estimatedPriceLimit}}</li>
                        <li class="list-group-item">Estimated room amount - {{order.estimatedRoomsQuantity}}</li>
                        <li class="list-group-item">
                            Status:
                            <span [ngSwitch]="order.orderStatus">
                                <div class="d-flex align-items-center" *ngSwitchCase="1">
                                    <span class="order-status searchForApartment"></span>
                                    <label>Searching</label>
                                </div>
                                <div class="d-flex align-items-center" *ngSwitchCase="2"> 
                                    <span class="order-status foundApartment"></span>
                                    <label>Found apartments</label>
                                </div>
                                <div class="d-flex align-items-center" *ngSwitchCase="3">
                                    <span class="order-status completed"></span>
                                    <label>Completed</label>
                                </div>
                                <div class="d-flex align-items-center" *ngSwitchCase="4">
                                    <span class="order-status canceled"></span>
                                    <label>Canceled</label>
                                </div>
                                <div class="d-flex align-items-center" *ngSwitchCase="0">
                                    <span class="order-status inProcess"></span>
                                    <label>Pending</label>
                                </div>
                            </span>
                        </li>
                    </ul>
                    
                    <ul class="list-group mt-3 overflow_hidden" *ngIf="order.apartments.length > 0">
                        <hr>

                                <li class="list-group-item border-white" *ngFor="let apartment of order.apartments">
                                    <h5>Apartment {{apartment.number}}</h5>
                                    <p>- Rooms: {{apartment.rooms}}</p>
                                    <p>- Price: {{apartment.price}}</p>
                                    <p>- City: {{apartment.city}}</p>
                                    <div class="text-center">
                                        <button class="btn btn-primary" type="button" [routerLink]="['/Apartments', apartment.id]">Details</button>
                                    </div>
                                </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center justify-content-around">
                        <button class="btn btn-warning" (click)="closeOrder()" *ngIf="order.orderStatus != 3"><i class="bi bi-check-circle"></i> Close order</button>
                        <button class="btn btn-success" (click)="addApartments()"><i class="bi bi-arrow-bar-up"></i> Update apartments</button>
                        <button class="btn btn-danger" (click)="deleteOrder()" *ngIf="authorizedUser.role === 'Admin'"><i class="bi bi-trash3"></i> Delete</button>
                        <button class="btn btn-primary" [routerLink]="['/Orders']"><i class="bi bi-arrow-left-circle"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent" (errorModalClosed)="closeErrorModal()"></app-error-modal>
<app-loading-state *ngIf="isLoading"></app-loading-state>
<app-error *ngIf="unexpectedError" [error]="unexpectedError"></app-error>
