
        <div class="container">
          <div class="container-fluid fixed-top" style="background-color: rgba(0,0,0,1); padding-bottom: 30px;">
            <div class="container">
              <app-navbar></app-navbar>
          </div>
          </div>
          <div class="container d-flex justify-content-center">
            <div class="router_outlet_page">
              <app-navbar-popup></app-navbar-popup>
              <router-outlet></router-outlet>
            </div>
          </div>
         
        </div>

      
      
      
    


