<div class="home_title">
    <h1>Welcome to Dwelling!</h1>
</div>
<div class="home_content">
    <div class="row justify-content-between g-3">
        <div class="col-lg-4">
            <div class="home_card">
                <div class="home_card_title">
                    <h3>We provide</h3>
                    <div class="home_card_content">
                        <ul>
                            <li>Many apartments</li>
                            <li>Fastest checking in</li>
                            <li>Pleasant prices</li>
                        </ul>
                        <div class="home_card_icons">
                            <img class="home_card_icon" src="assets/images/home_icons/1.png">
                            <img class="home_card_icon" src="assets/images/home_icons/2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="home_card">
                <div class="home_card_title">
                    <h3>Use appartments page to</h3>
                </div>
                <div class="home_card_content">
                    <ul>
                        <li>find appropriate options for you</li>
                        <li>request a call about selected apartment</li>
                    </ul>
                    <div class="home_card_icons">
                        <img class="home_card_icon" src="assets/images/home_icons/4.png">
                        <img class="home_card_icon" src="assets/images/home_icons/6.jpg">
                        <img class="home_card_icon" src="assets/images/home_icons/7.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="home_card">
                <div class="home_card_title">
                    <h3>Create account to</h3>
                </div>
                <div class="home_card_content">
                    <ul>
                        <li>find appropriate options in your city</li>
                        <li>provide us an info about you once</li>
                    </ul>
                    <div class="home_card_icons">
                        <img class="home_card_icon" src="assets/images/home_icons/8.png">
                        <img class="home_card_icon" src="assets/images/home_icons/9.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

