<div class="text-center">
    <h2 style="color:white; margin-left:5px">Contacts</h2>
</div>
<hr style="color:white; font-weight: 1000;">
<div class="row mb-3">
    <div class="col-lg-6 mb-3">
        <div class="card" style="height: 100%">
            <div class="card-header">
                <div class="text-center">
                    <h3>Contact us</h3>
                </div>
            </div>
            <div class="card-body" *ngIf="!isCreationModeActive">
                <ul class="list-group" *ngIf="contacts">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let contact of contacts">
                        {{contact.contactOptionName}}: {{contact.contactOptionValue}}
                        <button class="custom-btn btn-delete" *ngIf="authorizedUser.role === 'Admin'" (click)="deleteContact(contact.id)" style="cursor:pointer; font-size: 18px"><i class="bi bi-trash3"></i></button>
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center" style="height: 100%" *ngIf="contacts.length == 0">
                    <h4>Unfortunately, there are no available contacts of ours.</h4>
                </div>
            </div>
            <div class="card-body" *ngIf="isCreationModeActive">
                <form id="createContact" [formGroup]="contactForm" (ngSubmit)="createContact()">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person" style="font-size: 19px;"></i></span>
                            <input type="text" class="form-control" formControlName="contactOptionName" placeholder="Contact option" [class.is-invalid]="contactForm.controls['contactOptionName'].dirty && contactForm.hasError('required','contactOptionName')">
                        </div>
                        <span *ngIf="contactForm.controls['contactOptionName'].dirty && contactForm.hasError('required','contactOptionName')" class="text-danger bold mt-2">Field is required</span>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-telephone" style="font-size: 19px;"></i></span>
                            <input type="text" class="form-control" formControlName="contactOptionValue" placeholder="Value" [class.is-invalid]="contactForm.controls['contactOptionValue'].dirty && contactForm.hasError('required','contactOptionValue')">
                        </div>
                        <span *ngIf="contactForm.controls['contactOptionValue'].dirty && contactForm.hasError('required','contactOptionValue')" class="text-danger bold mt-2">Field is required</span>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <button type="button" class="custom-btn btn-default" *ngIf="!isCreationModeActive && authorizedUser.role === 'Admin'" (click)="changeCreationModeStatus()"><i class="bi bi-plus-circle"></i> Create contact</button>
                    <button form="createContact" type="submit" class="custom-btn btn-confirm" *ngIf="isCreationModeActive">Create</button>
                    <button type="button" class="custom-btn btn-cancel" (click)="changeCreationModeStatus()" *ngIf="isCreationModeActive">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card" style="height: 100%">
            <div class="card-header">
                <div class="text-center">
                    <h3>We contact you</h3>
                </div>
            </div>
            <div class="card-body">
                <form id="requestCall" [formGroup]="requestCallForm" (ngSubmit)="requestCall()"> 
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person" style="font-size: 19px;"></i></span>
                            <input type="text" class="form-control" formControlName="firstName" placeholder="First name" [class.is-invalid]="requestCallForm.controls['firstName'].dirty && requestCallForm.hasError('required','firstName')">
                        </div>
                        <span *ngIf="requestCallForm.controls['firstName'].dirty && requestCallForm.hasError('required','firstName')" class="text-danger bold mt-2">Field is required</span>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-telephone" style="font-size: 19px;"></i></span>
                            <input type="text" class="form-control" formControlName="mobilePhone" placeholder="Mobile phone" [class.is-invalid]="requestCallForm.controls['mobilePhone'].dirty && requestCallForm.hasError('required','mobilePhone')">
                        </div>
                        <span *ngIf="requestCallForm.controls['mobilePhone'].dirty && requestCallForm.hasError('required','mobilePhone')" class="text-danger bold mt-2">Field is required</span>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <button form="requestCall" type="submit" class="custom-btn btn-confirm">Call me</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="calls.length > 0">
    <h3 style="color:white; margin-left:5px">Requested calls</h3>
    <hr style="border:1px solid white;">
    <div class="contacts_card" *ngFor="let call of calls">
        <div class="contacts_card_content">
            <ul>
                <li>
                    Requested by: {{call.toName}}
                </li>
                <li>
                    Requestor phone: {{call.toPhone}}
                </li>
                <li>
                    Status: {{call.isCompleted ? 'Completed' : 'Pending'}}
                </li>
            </ul>
            <button class="btn btn-primary mt-3" (click)="completeCall(call.id)"><i class="bi bi-check-circle"></i> Complete call</button>
        </div>
    </div>
</div>

