<div class="row justify-content-center" *ngIf="!isLoading">
    <div class="col-lg-8">
        <form [formGroup]="orderForm" (submit)="createOrder()">
            <h3 style="color:white; margin-left:5px">New order</h3>
            <hr style="color:white; font-weight: 1000;">
            <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-cash-coin" style="font-size: 24px;"></i></span>
                <input type="text" class="form-control" formControlName="city" placeholder="Desired city" [class.is-invalid]="orderForm.controls['city'].dirty && orderForm.hasError('required','city')">
            </div>
            <span *ngIf="orderForm.controls['city'].dirty && orderForm.hasError('required','city')" class="text-danger bold mb-4">Field is required</span>
        </div>
        <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-bar-chart-line-fill" style="font-size: 24px;"></i></span>
                <input type="number" class="form-control" formControlName="estimatedPriceLimit" placeholder="Price limit" [class.is-invalid]="orderForm.controls['estimatedPriceLimit'].dirty && orderForm.hasError('required','estimatedPriceLimit')">
            </div>
            <span *ngIf="orderForm.controls['estimatedPriceLimit'].dirty && orderForm.hasError('required','estimatedPriceLimit')" class="text-danger bold mb-4">Field is required</span>
        </div>
        <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-house" style="font-size: 24px;"></i></span>
                <input type="number" class="form-control" formControlName="estimatedRoomsQuantity" placeholder="Desired room amount" [class.is-invalid]="orderForm.controls['estimatedRoomsQuantity'].dirty && orderForm.hasError('required','estimatedRoomsQuantity')">
            </div>
            <span *ngIf="orderForm.controls['estimatedRoomsQuantity'].dirty && orderForm.hasError('required','estimatedRoomsQuantity')" class="text-danger bold mb-4">Field is required</span>
        </div>
            <div class="text-center">
                <button type="submit" class="custom-btn btn-confirm"><i class="bi bi-upload"></i> Create</button>
                <button type="button" class="custom-btn btn-cancel" [routerLink]="['/Orders']"><i class="bi bi-x-square"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>

<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent" (errorModalClosed)="closeErrorModal()"></app-error-modal>
<app-error *ngIf="unexpectedError" [error]="unexpectedError"></app-error>
<app-loading-state *ngIf="isLoading"></app-loading-state>
