
.account_btn{
    border: none;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-change-password{
    background-color: #a07e20;
    color: white;
}

.btn-change-info{
    background-color: #319c48;
    color: white;
}

