<div *ngIf="!isLoading && !unexpectedError">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    Current account
                </div>
                <div class="card-body mt-3">
                  <h3 class="card-title mb-4">Good day to you, {{account.fullname}}</h3>
                  <ul class="list-group">
                    <li class="list-group-item border-white">Username - {{account.username}}</li>
                    <li class="list-group-item border-white">Mobile phone - {{account.mobilePhone}}</li>
                    <li class="list-group-item border-white">Email - {{account.email}}</li>
                    <li class="list-group-item border-white">Role - {{account.role}}</li>
                    <li class="list-group-item border-white">Signed up - {{account.creationDate | makeDateTimeString}}</li>
                    <li class="list-group-item border-white">Username - {{account.username}}</li>
                  </ul>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <button class="account_btn btn-change-password" type="button" [routerLink]="['/Account', account.id, 'ChangePassword']"><i class="bi bi-shield-lock"></i> Change password</button>
                        <button class="account_btn btn-change-info" type="button" [routerLink]="['/Account', account.id, 'UpdateInfo']"><i class="bi bi-pencil-square"></i> Update info</button>
                    </div>
                </div>
                <div class="card-footer mt-3">
                    <div class="d-flex">
                        <label>Last update - {{account.lastlyUpdatedDate | makeDateTimeString}}</label>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent" (errorModalClosed)="closeErrorModal()"></app-error-modal>
<app-error *ngIf="unexpectedError" [error]="unexpectedError"></app-error>
<app-loading-state *ngIf="isLoading"></app-loading-state>

