<div class="agreement_card_wrapper" *ngIf="!isLoading && !unexpectedError">
    <div class="agreement_card">
        <h2 class="text-center">Agreements</h2>
        <hr>
        <div class="row justify-content-center overflow_hidden">
            <div class="text-center" *ngIf="agreementsModel.agreements.length == 0">
                <h4>No agreements are made by now.</h4>
            </div>
            <div class="col-lg-6" *ngFor="let item of agreementsModel.agreements">
                <app-agreement-item [agreement]="item" (updateAgreementEvent)="updateAgreement($event)" (deleteAgreementEvent)="deleteAgreement($event)"></app-agreement-item>
            </div>
        </div>
        <hr>
        <div class="mt-2">
            <ul>
                <li>
                    Totally paid sum: {{agreementsModel.totalSumWasPaid}}
                </li>
                <li>
                    Sum left to pay: {{agreementsModel.totalSumToPay}}
                </li>
                <li>
                    Total agreement count: {{agreementsModel.totalAgreementCount}}
                </li>
            </ul>
        </div>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent" (errorModalClosed)="closeErrorModal()"></app-error-modal>
<app-loading-state *ngIf="isLoading"></app-loading-state>
<app-error *ngIf="unexpectedError" [error]="unexpectedError"></app-error>