<div *ngIf="!isLoading && !unexpectedError">
    <div class="text-center mb-3">
        <a *ngIf="authorizedUser.userId !== '' && authorizedUser.role === 'Admin'" class="btn btn-primary" type="button" [routerLink]="['/Orders/New']"><i class="bi bi-plus-circle"></i> New order</a>
    </div>
    <h2 class="text-center text-white p-5" *ngIf="orders.length == 0">No orders for now!</h2>
    <div class="row justify-content-center g-4">
        <div class="col-6" *ngFor="let order of orders">
            <div class="card border-dark mb-4">
                <div class="card-header">
                        <h4>Order {{order.creationDate | makeDateString}}</h4>
                        <hr>
                        <label>Updated: {{order.lastlyUpdatedDate | makeDateTimeString}}</label>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">City - {{order.city}}</li>
                        <li class="list-group-item">Estimated maximum price - {{order.estimatedPriceLimit}}</li>
                        <li class="list-group-item">Estimated room amount - {{order.estimatedRoomsQuantity}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center justify-content-between">
                        <div [ngSwitch]="order.orderStatus">
                            <div class="d-flex align-items-center" *ngSwitchCase="1">
                                <div class="order-status searchForApartment"></div>
                                <h5>Searching</h5>
                            </div>
                            <div class="d-flex align-items-center" *ngSwitchCase="2"> 
                                <div class="order-status foundApartment"></div>
                                <h5>Found apartments</h5>
                            </div>
                            <div class="d-flex align-items-center" *ngSwitchCase="3">
                                <div class="order-status completed"></div>
                                <h5>Completed</h5>
                            </div>
                            <div class="d-flex align-items-center" *ngSwitchCase="4">
                                <div class="order-status canceled"></div>
                                <h5>Canceled</h5>
                            </div>
                            <div class="d-flex align-items-center" *ngSwitchCase="0">
                                <div class="order-status inProcess"></div>
                                <h5>Pending</h5>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" [routerLink]="['/Orders', order.id]"><i class="bi bi-list-ul"></i> Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent" (errorModalClosed)="closeErrorModal()"></app-error-modal>
<app-loading-state *ngIf="isLoading"></app-loading-state>
<app-error *ngIf="unexpectedError" [error]="unexpectedError"></app-error>