
.order-status{
    height: 14px;
    width: 14px;
    border:1px solid black;
    border-radius: 7px;
    margin-right: 8px;
    background-color: white;
}

.order-status.canceled{
    background-color: red;
}

.order-status.inProcess{
    background-color: yellow;
}

.order-status.searchForApartment{
    background-color: orange;
}

.order-status.foundApartment{
    background-color: greenyellow;
}

.order-status.completed{
    background-color: olivedrab;
}
