<div class="order_card_wrapper" *ngIf="!isLoading && !unexpectedError">
    <div class="text-center mb-3">
        <a *ngIf="authorizedUser.userId !== '' && authorizedUser.role === 'Admin'" class="btn btn-primary" type="button" [routerLink]="['/Orders/New']">New order</a>
    </div>
    <h2 class="text-center text-white p-5" *ngIf="orders.length == 0">No orders for now!</h2>
    <div class="row justify-content-center g-4">
        <div class="col-6" *ngFor="let order of orders">
            <div class="order_card">
                <div class="order_card_content">
                    <ul>
                        <li>
                            City - {{order.city}}
                        </li>
                        <li>
                            Estimated price limit - {{order.estimatedPriceLimit}}
                        </li>
                        <li>
                            Estimated rooms quantity - {{order.estimatedRoomsQuantity}}
                        </li>
                        <li>
                            Order creation date - {{order.creationDate | makeDateString}}
                        </li>
                        <li>
                            Order last update - {{order.lastlyUpdatedDate | makeDateString}}
                        </li>
                    </ul>
                </div>
                <div class="order_card_footer">
                    <div [ngSwitch]="order.orderStatus">
                        <div *ngSwitchCase="0" class="order_card_footer_status">
                            <span class="order_card_order-status inProcess"></span>
                            <label>Pending</label>
                        </div>
                        <div *ngSwitchCase="1" class="order_card_footer_status">
                            <span class="order_card_order-status searchForApartment"></span>
                            <label>Searching</label>
                        </div>
                        <div *ngSwitchCase="2" class="order_card_footer_status">
                            <span class="order_card_order-status foundApartment"></span>
                            <label>Found apartments</label>
                        </div>
                        <div *ngSwitchCase="3" class="order_card_footer_status">
                            <span class="order_card_order-status completed"></span>
                            <label>Completed</label>
                        </div>
                        <div *ngSwitchCase="4" class="order_card_footer_status">
                            <span class="order_card_order-status canceled"></span>
                            <label>Canceled</label>
                        </div>
                    </div>
                    <div class="order_card_footer_more">
                        <button class="order_card_details-btn" [routerLink]="['/Orders', order.id]">Details <i class="bi bi-caret-down-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent"></app-error-modal>
<app-loading-state *ngIf="isLoading"></app-loading-state>
<app-error *ngIf="unexpectedError" [error]="unexpectedError"></app-error>