<div class="row justify-content-center" *ngIf="!isLoading && !unexpectedError">
    <div class="col-lg-7">
        <form class="change_password_form" (submit)="changePasswordSubmit()" [formGroup]="changePasswordForm">
            <div class="change_password_form_title">
                <h2>Change password</h2>
            </div>
            <div class="change_password_form_input">
                <i class="change_password_form_icon bi bi-pass"></i>
                <input placeholder="Old password" formControlName="oldPassword">
                <div class="text-center">
                    <span *ngIf="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.hasError('required','oldPassword')" class="text-danger bold">Field is required</span>
                </div>
            </div>
            <div class="change_password_form_input">
                <i class="change_password_form_icon bi bi-pass-fill"></i>
                <input placeholder="New Password" formControlName="newPassword">
                <div class="text-center">
                    <span *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('required','newPassword')" class="text-danger bold">Field is required</span>
                </div>
            </div>
            <div class="change_password_form_input">
                <i class="change_password_form_icon bi bi-pass-fill"></i>
                <input placeholder="Confirm new password" formControlName="newPasswordConfirm">
                <div class="text-center">
                    <span *ngIf="changePasswordForm.controls['newPasswordConfirm'].dirty && changePasswordForm.hasError('required','newPasswordConfirm')" class="text-danger bold">Field is required</span>
                </div>
            </div>
            <button type="submit" class="change_password_form_input_btn btn_update"><i class="bi bi-upload"></i> Update</button>
            <button class="change_password_form_input_btn btn_cancel" [routerLink]="['/Account']"><i class="bi bi-x-square"></i> Cancel</button>
        </form>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent" (errorModalClosed)="closeErrorModal()"></app-error-modal>
<app-error *ngIf="unexpectedError"></app-error>
<app-loading-state *ngIf="isLoading"></app-loading-state>
