<div class="row justify-content-center" *ngIf="!isLoading && !unexpectedError">
    <div class="col-lg-7">
        <form (submit)="changePasswordSubmit()" [formGroup]="changePasswordForm">
            <div class="d-flex justify-content-between">
                <h3>Change account password</h3>
            </div>
            <hr>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-unlock" style="font-size: 24px;"></i></span>
                    <input type="text" class="form-control" formControlName="oldPassword" placeholder="Old password" [class.is-invalid]="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.hasError('required','oldPassword')">
                </div>
                <span *ngIf="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.hasError('required','oldPassword')" class="text-danger bold">Field is required</span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock" style="font-size: 24px;"></i></span>
                    <input type="text" class="form-control" formControlName="newPassword" placeholder="New password" [class.is-invalid]="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('required','newPassword')">
                </div>
                <span *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('required','newPassword')" class="text-danger bold">Field is required</span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock-fill" style="font-size: 24px;"></i></span>
                    <input type="text" class="form-control" formControlName="newPasswordConfirm" placeholder="Confirm new password" [class.is-invalid]="changePasswordForm.controls['newPasswordConfirm'].dirty && changePasswordForm.hasError('required','newPasswordConfirm')">
                </div>
                <span *ngIf="changePasswordForm.controls['newPasswordConfirm'].dirty && changePasswordForm.hasError('required','newPasswordConfirm')" class="text-danger bold">Field is required</span>
            </div>
            <div class="text-center">
                <button *ngIf="changePasswordForm?.valid" type="submit" class="custom-btn btn-update"><i class="bi bi-upload"></i> Update</button>
                <button class="custom-btn btn-cancel" [routerLink]="['/Account']"><i class="bi bi-x-square"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
<app-error-modal *ngIf="errorModalContent" [content]="errorModalContent" (errorModalClosed)="closeErrorModal()"></app-error-modal>
<app-error *ngIf="unexpectedError"></app-error>
<app-loading-state *ngIf="isLoading"></app-loading-state>
